@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@600&family=Roboto+Slab:wght@500&display=swap');
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  width: 100%;
  min-height: 100%;
  font-family: "GentiusGentius";
  font-style: normal;
  background-image: url(/src/bg.gif);
  background-size: cover;
  background-attachment: fixed;
}

section {
  height: 100vh;
  padding: 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
}

.mainbox{
  display: none;
}

.quockhanh,
.thongnhat {
  display: none;
}

.boxcd {
  position: relative;
  top: 0;
  transition: top ease 0.2s;
}

.boxcd:hover {
  top: -3px;
}

.ms-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
.music-player {
  position: fixed;
  bottom: -400px;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.3);
  transition: bottom 0.5s ease-in-out;
}

.music-player.open {
  bottom: 0;
}

.player-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.slider {
  position: relative;
}

.volume-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  margin-left: 10px;
  font-size: 1.5rem;
  color: #3273dc;
}

.slider[value="0"] + .volume-icon {
  color: #f14668;
}

.title {
  margin: 0;
  font-size: 18px;
}

.close-btn {
  width: 20px;
  height: 20px;
  background-image: url("https://img.icons8.com/ios-filled/50/000000/multiply.png");
  background-repeat: no-repeat;
  background-size: cover;
  border: none;
  cursor: pointer;
}

.player-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.prev-btn,
.play-btn,
.next-btn {
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  cursor: pointer;
}

.volume-slider {
  width: 100%;
  margin-left: 10px;
}

.song-info {
  text-align: center;
}

.composer,
.performer {
  margin: 0;
  font-size: 14px;
  color: #888;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
}
.modal {
  display: none;
}

.modal.is-active {
  display: flex;
}
